<div class="healthcare-container">


  <!-- Chat Input Section -->
    
<div class="outerforloop" #contentRef >
  
  <div *ngFor="let item  of healthcareQueryResList" class="forloop">
    <div class="question-right-section">
      <div class="question-right-container">
        <div class="question-right-wrapper" *ngIf="item.question.length > 5">

          <div *ngIf="item.question" class="loader">

            <!-- <span> Query:</span> -->
            {{ item.question }}

            <!-- <app-loader-button [loading]="loading"></app-loader-button> -->
          </div>
        </div>
      </div>
    </div>

    <!-- Chat Input Section -->
    <!-- <div class="response-section">
      <div class="response-container"> -->
        <div class="response-wrapper" *ngIf="item.answer">

          <!-- {{ item.answer }} -->

          <app-content-display [content]= item.answer ></app-content-display>

        </div>
      <!-- </div>
    </div> -->
  </div>
</div>


  <!-- Chat Input Section -->
  <div class="chat-section">

    <!-- Loader -->
    <!-- <div class="spinner-container" color="black" *ngIf="loading">
      <mat-spinner diameter="24"></mat-spinner>
    </div> -->
    <!-- <img src="assets/images/loader/dots-circle.svg" alt="loading...">
<img src="assets/images/loader/circular-spinner.svg" alt="loading...">
<img src="assets/images/loader/dashed-circle.svg" alt="loading...">
<img src="assets/images/loader/gradient-circle.svg" alt="loading..."> -->

    <div class="chat-container">
      <div class="chat-input-wrapper">

       
        <!-- <span class="pulse" *ngIf="listning" >●</span> -->
        <img src="assets/images/loader/circular-spinner.svg" alt="loading..." *ngIf="loading">

        <input type="text" class="chat-input" placeholder="Ask me any healthcare details..."
          [(ngModel)]="healthcareQuery" (keypress)="onQueryKeyPress($event)" />

          
        <button class="chat-submit-btn" (click)="onSubmitQuery()">
          <span class="material-icons">send</span>
        </button>

        <!-- <app-voice-to-text (voiceToTextMsgEvent)="voiceReceivedMessageHandler($event)" 
                            (listeningEvent)="listeningMessageHandler($event)" ></app-voice-to-text> -->
      </div>
    </div>
  </div>


</div>