.section-container {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  padding: 40px;
  max-width: 1200px;
  margin: auto;
  flex-wrap: wrap;
}

.left-image img {
  width: 450px;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.right-content {
  flex: 1;
  min-width: 300px;
}

.title {
  font-size: 32px;
  font-weight: 700;
  color: #153E8D;
  margin-bottom: 15px;
}

.description {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

.features {
  margin-top: 20px;
  list-style: none;
  padding: 0;
  display: inline-block;
}

.features li {
  font-size: 18px;
  margin-bottom: 10px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.stats-box {
  background: #17D7A0;
  color: white;
  padding: 20px;
  width: 150px;
  margin-top: 20px;
  border-radius: 12px;
  text-align: center;
  margin-left: 7rem;
  display: inline-block;
}

.stats-number {
  font-size: 36px;
  font-weight: 700;
}

.stats-label {
  font-size: 16px;
  margin-top: 5px;
}